---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.uppercase {
  text-transform: uppercase;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.color-accent {
  color: var(--color-accent);
}

.color-grey {
  color: var(--color-grey);
}

.drop-shadow {
  box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.03);
}

.yellow-nav {
  background-color: var(--color-secondary);
  position: sticky;
}

.yellow-nav a {
  text-decoration: none;
  color: var(--color-black);
  position: relative;
}

.yellow-nav a:hover {
  color: var(--color-white);
}

.yellow-nav a.active {
  color: var(--color-white);
}

.yellow-nav a.active:after {
  content: "•";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
}
