:root {
--color-primary: #016B45;
--color-secondary: #F4BF4B;
--color-accent: #E84E4E;
--color-white: #FFFFFF;
--color-light-grey: #F7F5F3;
--color-grey: #A2A0A0;
--color-black: #000000;

--font-primary: "brandon-grotesque", sans-serif;
--font-secondary: Courier, monospace;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-light-grey);
}

.uppercase {
  text-transform: uppercase;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.color-accent {
  color: var(--color-accent);
}

.color-grey {
  color: var(--color-grey);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.drop-shadow {
  box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.03);
}

a {
  text-decoration: none;
}
