.btn {
  background-color: var(--color-secondary);
  color: var(--color-black);
  border-radius: 0;
  border-color: var(--color-secondary);
  transition: all .3s ease;
  box-shadow: 0 10px 18px 5px rgba(0, 0, 0, .1);
}

.btn:hover,
.btn:focus {
  color: var(--color-secondary);
}

.back-button {
  text-decoration: none;
}

.back-button:hover .back-arrow {
  transform: translateX(-.5em);
}

.back-arrow {
  transition: all .3s ease;
}

.icon-logo {
  width: 128px;
  height: 27px;
  transition: all .3s ease;
}

.icon-logo:hover,
.icon-logo:focus {
  color: var(--color-grey);
}

.btn-dark {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0;
  border-color: var(--color-primary);
}
