.customize-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.56);
  z-index: 2;
}

.customize-modal {
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  max-width: 90%;
  max-height: 90%;
  background: white;
  overflow-y: auto;
}

.customize-modal .btn {
  display: block;
  text-align: center;
  background: var(--color-primary);
  border: 0;
}
