.card {
  background-color: var(--color-white);
  box-shadow: 0 10px 18px 5px rgba(0, 0, 0, .1);
}

.card-arrow {
  transition: all .3s ease;
}

.card-arrow:hover,
.card-arrow:focus {
  transform: translateX(.5em);
}

.card-img {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('https://via.placeholder.com/100x100');
}

.card-btn {
  top: 90%;
  right: 5%;
}
