.round-photo {
  border-radius: 50%;
}

.text-input {
  border: 0;
  background-color: var(--color-white);
  height: 50px;
}

.search-bar {
  width: 55%;
}

.banner-shape-green {
  background-image: url("/images/green-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.banner-shape-white {
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-shape-white-2 {
  background-image: url("/images/white-background-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 100vh;
}

.home-banner-bg {
  background-image: url("/images/pizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 87vh;
}

.restaurant-banner-bg {
  background-image: url("/images/indian-dish-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top top;
  height: 89vh;
}

.cart-icon {
  color: var(--color-white);
  transition: all .3s ease;
}

.cart-icon:hover,
.cart-icon:focus {
  color: var(--color-grey);
}

.push-restaurant-text {
  margin-top: 20rem;
}

@media only screen and (min-width: 35em) {
  .push-restaurant-text {
    margin-top: 15rem;
  }
}

@media only screen and (min-width: 40em) {

  .banner-shape-green {
    background-size: contain;
    height: 70vh;
  }

  .search-bar {
    width: 30%;
  }

  .home-banner-bg {
    height: 70vh;
  }

  .restaurant-banner-bg {
    height: 87vh;
  }

  .banner-shape-white-2 {
    height: 120vh;
  }

}

@media only screen and (min-width: 70em) {

  .banner-shape-white {
    background-image: url("/images/white-background.svg");
    background-position: right top;
    background-size: 35%;
  }

  .cart-icon {
    color: var(--color-black);
  }

  .restaurant-banner-bg {
    height: 87vh;
  }

  .banner-shape-white-2 {
    background-size: contain;
    height: 87vh;
  }

  .push-restaurant-text {
    margin-top: 8rem;
  }

}
